[Unit]
Description=Nixie Tube Clock MPD monitor
After=mopidy.service mpd.service network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/nixie-clock.py
RestartSec=5s
User=pi
Nice=10
#KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target




